body {
    font-family: 'Kodchasan','Work Sans', sans-serif;
    background-color: #24213A;
    margin: 0;
  }

  ul {
    list-style: none;
  }

.container {
    max-width: 1247px; /* set the maximum width of the container */
    margin: 0 auto; /* center the container horizontally */
    padding: 0 15px; /* add padding to the left and right sides of the container */
    box-sizing: border-box; /* include padding and border in the total width of the element */
  }

.navbar{
    position: absolute;
width: 1200px;
height: 57px;
margin-top: 15px;
background: #3A3756;
border-radius: 100px;
display: flex;
flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  transition: all 0.3s ease-in-out;
}

#navbar.hidden {
  top: -50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

#navbar.scroll {
  background-color:#3A3756;
}


.main-text__title{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* or 118% */

display: flex;
align-items: center;

/* main text */

color: #FDFDFD;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;
    gap: 9px;
    


}

.redbananaz{

    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 16px;
    /* or 57% */
    margin-top: 8px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    
    /* red */
    
    color: #FB4949;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-list{
    display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  

}

.navbar-list__item{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;
text-transform: uppercase;

/* main text */

color: #FDFDFD;
}

.navbar-list__item:hover {
    cursor: pointer;
    color:grey;
    transition: all 0.3s ease;
  }

.try-now{
    margin-right: 10px;
        display: flex;
        align-items: center;
      
    
    display: flex;
    width: 98px;
height: 26px;

    background: #7666FF;
border-radius: 30px;
}


.try-now__text{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
padding-left: 20px;

align-items: center;
text-transform: uppercase;

/* main text */
display: flex;
color: #FDFDFD;
}

.main-text{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  text-align: left;
}


.material-liability-txt-container{
    line-break: anywhere;
    width: 100%;
}

.this-month{
    color: yellow;
}

.main-text__p{
    padding-top: 20px;
    display: flex;
  align-items: center;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* or 117% */

display: flex;
align-items: center;

/* text */

color: #8B8EA9;
}

.main-text__btn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:40px ;
    width: 233px;
    height: 40px;
    background: #7666FF;
    border-radius: 8px;
}
.svgbutton-arrow-right-icon {
    position: relative;
    width: 52px;
    height: 16px;
    flex-shrink: 0;
    overflow: hidden;
  }
.try-for-free{
    
    /* Button Text */
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    /* main text */
    
    color: #FDFDFD;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.video{
    flex:1;
}
.video-container{
margin-top: 110px;
width: 725px;
height: 725px;
border-radius: 50%;
display: flex;
/* gradient+blackout */


}

.main-back{
  margin-top: 110px;
  border-radius: 50%;
;
  position: absolute;
width: 725px;
height: 725px;
z-index: -1;


background: linear-gradient(180deg, #3B3756 0%, #24213A 57.54%);
}
.main-section {
    display: flex;
    position: relative;
    align-items: center;
  }

  .counts {
    display: flex;
  }
  
  .counts__item {
    display: flex;
    flex-direction: column;
    margin-right: 165px;
    align-items: center;
  }

  .counts__item-img{
    align-items: center;
    display: flex;
    width: 290px;
    height: 200px;
  }
  
  .counts__item:last-child {
    margin-right: 0;
    
  }
  .counts__item-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 30px;
/* identical to box height, or 115% */

display: flex;
flex-direction: column;
align-items: center;
text-align: center;

/* main text */

color: #FDFDFD;
  }
  

  .counts__item-text{

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */

display: flex;
align-items: center;
text-align: center;
width: 277px;
height: 76px;
/* text */

color: #8B8EA9;
  }

.about-item{
    padding-top: 118px;

    display: flex;
}

.rectangle{
    position: relative;
    width: 580px;
    height: 400px;
    background: #F0CD4E;
    box-shadow: 0px 0px 26px #7666FF;
    border-radius: 25px;
}

.rectangle-img{
position: absolute;
    bottom: 0;
    right: 0;
    width: 511px;
    height: 351px;
    border-radius: 10px 0px 25px;
}

.rectangle-img__img{
    position:absolute;
    height: 298px;
    width: 267px;
    bottom: -50px;
    right: -50px;
    filter: drop-shadow(0px 0px 26px #7666FF);
    border-radius: 10px;
}

.about-item__article{
    padding-top: 77px;
    padding-left: 176px;
    display: flex;
    flex-direction: column;
    width: 432px;
    height: 269px;
    
}

.article-title{
    
    font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* or 118% */
width: 392px;
display: flex;
align-items: center;

/* main text */

color: #FDFDFD;
}

.article-text{
    padding-top: 20px;
    display: flex;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* or 117% */

display: flex;
align-items: center;

/* text */

color: #8B8EA9;
}

.article-btn{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    padding-top: 30px;

}

.learn-more{
    
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #F55EE6;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.arrow-icon{
    display:flex;
    width: 50.12px;
height: 14.6px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.article-hiiddentext{
    padding-top: 40px;
    padding-bottom: 30px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* or 117% */
display:none;

align-items: center;

/* text */

color: #8B8EA9;
}

.hidden-item{
  width: 1200px;
  height: 160px;
  /* yellow */
  margin-top: 350px;
  display: none;

/* display: flex; */
background: #F0CD4E;
border-radius: 25px;
align-items: center;
}

.hidden-item__article{
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  
}

.hidden-item__article-title{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 30px;
/* or 115% */

display: flex;
align-items: center;


/* dark purple */ 

color: #2A2362;
}

.hidden-item__article-text{
  padding-top: 20px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

display: flex;
align-items: center;

/* purple grey */

color: #4F4D67;
}

.hidden-item__btn-group{
  display: flex;
flex-direction: row;
align-items: flex-start;
margin-left: 193px;
gap: 15px;
}

.start-learning{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 25px;
gap: 10px;


/* bright purple */

background: #5F4EEF;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.start-text{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-transform: uppercase;

/* main text */

color: #FDFDFD;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.start-learning:hover {
  cursor: pointer;
  background-color: grey;
  color: #333;
}

.start-svg{
  margin-left: 10px;
}

.see-pricing{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 25px;
gap: 10px;



/* bright purple */

border: 2px solid #5F4EEF;
border-radius: 8px;

/* Inside auto layout */

display: flex;
}

.see-pricing__text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-transform: uppercase;

/* bright purple */

color: #5F4EEF;



}

.see-pricing:hover   {
  cursor: pointer;
  background-color: grey;
  color: #333;
}

.rectangle2{
  position: absolute;
width: 580px;
height: 400px;

display: flex;
/* pink */
position: relative;
background: #F55EE6;
box-shadow: 0px 0px 26px #7666FF;
border-radius: 25px;
}

.rectangle-img__img2{
  box-sizing: border-box;

width: 268px;
height: 226px;
position: absolute;
bottom: -50px;
right: -50px;


display: flex;
/* purple neon light */

filter: drop-shadow(0px 0px 26px #7666FF);
border-radius: 10px;
}

.about-item__article2{
  padding-top: 77px;
  padding-right: 163px;
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 269px;
}

.learn-more2{
  /* Button Text */

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
text-transform: uppercase;

/* purple */

color: #7666FF;

}

.read-more{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-transform: uppercase;

/* yellow */

color: #F0CD4E;
}

.hidden-item3{
  width: 1200px;
  height: 160px;
  /* yellow */
  margin-top: 545px;
  display: none;

/* display: flex; */
background: #F0CD4E;
border-radius: 25px;
align-items: center;
}

.rectangle3{
  position: relative;
  width: 580px;
  height: 400px;
  background: #7666FF;
  box-shadow: 0px 0px 26px #7666FF;
  border-radius: 25px;
}

.rectangle-img__img3{

box-sizing: border-box;

position: absolute;
width: 379px;
height: 187px;


filter: drop-shadow(0px 0px 26.0034px #F0CD4E);
border-radius: 10px;
}

.reviews{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviews-title{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-align: center;

/* pink */

color: #F55EE6;

}
  
.reviews-section{
  margin-top: 259px;
  display: flex;
  flex-direction: column;
}

.reviews-text{
  align-items: center;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

display: flex;
align-items: center;
text-align: center;
margin-top: 21px;
color: #8B8EA9;
margin-left: 20px;
}

.reviews-img{
  width: 1247px;
  margin-top: 40px;

}

.article-btn:visited{
  text-decoration: none;
}
.article-btn:hover *{
  cursor: pointer;
  color:grey;
  transition: all 0.3s ease;
}

.article-btn:hover img {
  filter: grayscale(100%);
}

.look-closer{
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
  
}
.look-closer:visited{
  text-decoration: none;
}
.look-closer:hover *{
  cursor: pointer;
  color:grey;
  transition: all 0.3s ease;
}

.look-closer:hover img {
  filter: grayscale(100%);
}

.look-closer-txt{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */
/* text-decoration: none; */
display: flex;
align-items: center;
text-transform: uppercase;

color: #F55EE6;

}

.advantages-section{
  margin-top: 77px;
}

.advantages{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-title{
  /* Main Title */
margin-bottom: 60px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-align: center;

/* main text */

color: #FDFDFD;
}

.swiper-container {
  width: 582px;
  height: 270px;
}

.swiper-slide img {
  width: 582px;
height: 270px;
  object-fit: cover;
}

.swiper-slide {

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active {
  opacity: 1;
}



.swiper-scrollbar {

  width: 4px;
  height: 500px;
  background-color: #ddd;
  border-radius: 2px;
}
.swiper-scrollbar-drag {
  background-color: #333;
  border-radius: 2px;
}

.progres-bar__wrapper{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


width: 582px;
height: 4px;


background: #3A3756;
border-radius: 0px
}




.advantages-content{
  display:flex;
  flex-direction: row;
}

.advantages-article{
  width: 478px;
height: 554px;
margin-left: 140px;
background: #3A3756;
border-radius: 24px;
}
.advantages-article__text{
  margin-top:60px;
  margin-left: 60px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;

color: #C9CAD6;
}

.advantages-logo{
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-left: 60px;
}

.advantages-logo img{
  box-sizing: border-box;

width: 86px;
height: 86px;

}
.advantages-logo-article{
  margin-top: 18.5px;
  margin-left: 10px;
}
.logo-article-title{

/* Sec Title */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 30px;
/* identical to box height, or 115% */

display: flex;
align-items: center;

color: #F0CD4E;
}

.logo-article-text{
  /* lil text */

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */
margin-left: 5px;
display: flex;
align-items: center;

color: #8B8EA9;
}

.free-trial-section{
  margin-top: 156px;
}

.free-trial{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free-trial__title{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* or 118% */

display: flex;
align-items: center;
text-align: center;

color: #FDFDFD;
}

.free-trial__offer-group{
  display: flex;
  flex-direction: row;
  margin-top: 60px;

}

.free-trial__offer-group img{
  width: 376px;
  height: 568px;
  margin-right: 20px;
}

.free-trial__offer-group-item{
  display: flex;
  flex-direction: column;
  width: 376px;
height: 568px;
margin-right: 20px;
background: #3A3756;
border-radius: 25px;
}

.free-trial__offer-group-item:last-child {
  margin-right: 0;
}

.fgroup-item__content{
  margin-top: 40px;
  margin-left: 30px;
}

.fgroup-item__content-title{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height, or 118% */

  display: flex;
  align-items: center;
  
  color: #FDFDFD;
}

.fgroup-item__content-text{
  margin-top: 5px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* or 119% */

display: flex;
align-items: center;

color: #8B8EA9;

}

.fgroup-item__list{
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.fgroup-item__list-title{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;

/* yellow */

color: #F0CD4E;
}

.fgroup-item__list-points{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.fgroup-item__list-points img{
  display: flex;
  align-items: center;
  width: 22px;
height: 6px;

}

.ffgroup-item__list-points__text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;

color: #FDFDFD;

}


.fgoup__btn{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 93.5781px 11.9844px 94.4219px;
width: 316px;
height: 43.98px;
margin-top: 144px;
/* yellow */

border: 2px solid #F0CD4E;
filter: drop-shadow(0px 14px 20px rgba(118, 102, 255, 0.13));
border-radius: 8px;
}

.fgroup__btn-text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #FDFDFD;
}


.fgoup__btn:hover {
  cursor: pointer;
  background-color: grey;
  color: #333;
}

.fgroup-item__list-title2{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

display: flex;
align-items: center;

/* yellow */

color: #F55EE6;
}

.fgoup__btn2{
  display: flex;




margin-top: 39px;
width: 316px;
height: 43.98px;

align-items: center;
background: #7666FF;
box-shadow: 0px 14px 20px rgba(118, 102, 255, 0.13);
border-radius: 8px;
}

.fgroup__btn-text2{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */
margin-left: 114.42px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #FDFDFD;



}


.fgoup__btn2:hover {
  cursor: pointer;
  background-color: grey;
  color: #333;
}

.pricing-section{
  margin-top: 110px;
}

.pricing{
  height: 725px;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.pricing-background{
  position: absolute;
  width: 725px;
height: 725px;
border-radius: 50%;
background: linear-gradient(180deg, #3B3756 0%, #24213A 57.54%);
}

.pricing-title{
  top:44px;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* identical to box height, or 118% */
position: absolute;
display: flex;
align-items: center;
text-align: center;

/* pink */

color: #F55EE6;
}

.pricing_item-group{
  display: flex;
  position: absolute;
  top:140px;
  flex-direction: row;
}

.pricing_item-small{
  width: 393px;
height: 464px;
margin-top: 50px;
display: flex;
flex-direction: column;
background: #3A3756;
/* dark shadow */
align-items: center;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.pricing_item{
  width: 393px;
height: 568px;
display: flex;
flex-direction: column;
margin-right: 17px;
margin-left: 17px;
background: #3A3756;
/* dark shadow */
align-items: center;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.pricing-header{
  box-sizing: border-box;

width: 316px;
height: 60px;
display: flex;
flex-direction: column;
/* purple */
align-items: center;
background: #7666FF;
border-radius: 0px 0px 25px 25px;

}

.pricing-header-text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 30px;
/* identical to box height, or 115% */
margin-top: 15px;

align-items: center;

color: #FFFFFF;
}

.pricing-item-title{
  /* Main Title */

font-family: 'Work Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
/* identical to box height, or 118% */
margin-top: 18px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.pricing-list{
  margin-top: 30px;
}

.pricing-poitns{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.pricing-poitns:last-child{
  margin-bottom: 0;
}

.pricing-points_text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 119% */

display: flex;
align-items: center;
margin-left: 10px;
color: #FFFFFF;

}

.pricing_btn{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


width: 226px;
height: 43.98px;
margin-top: 55px;
/* purple */
align-items: center;
flex-direction: column;
background: #7666FF;
box-shadow: 0px 14px 20px rgba(118, 102, 255, 0.13);
border-radius: 8px;
}

.pricing_btn-text{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

display: flex;
margin-top: 12px;
align-items: center;
text-transform: uppercase;

color: #FDFDFD;

}

.pricing-header2{
  box-sizing: border-box;

width: 316px;
height: 60px;
display: flex;
flex-direction: column;
/* purple */
align-items: center;
background:#F55EE6;
border-radius: 0px 0px 25px 25px;

}
.pricing_btn2{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


width: 226px;
height: 43.98px;
margin-top: 138px;
/* purple */
align-items: center;
flex-direction: column;
background: #F55EE6;
box-shadow: 0px 14px 20px rgba(118, 102, 255, 0.13);
border-radius: 8px;
}

.pricing_btn:hover {
  cursor: pointer;
  background-color: grey;
  color: #333;
}
.pricing_btn2:hover {
  cursor: pointer;
  background-color: grey;
  color: #333;
}

.foooter-section{
  margin-top: 140px;
}

.footer{
  background: #1B192C;
border-radius: 0px;
height: 186px;
width: 100%;
}

.line{
  border: 2px solid #24213A;
transform: rotate(0.1deg);
}

@media(max-width:1200px){

  .navbar{
    width: 1100px;
  }
  .counts{
    display: flex;
    flex-direction: column;
  }
  .counts__item{
    margin-right: 0;
  }

  .counts__item {
    margin-top: 25px;
    
  }
}
@media(max-width:1000px){

  .navbar{
    width: 900px;
  }
  .counts{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width:768px){

  .navbar{
    width: 700px;
  }

  .main-text{
    text-align: center;
  }

  .main-section{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .navbar-list{ 
    display: none;
  }
  
  .counts{
    
    margin-top: 100px;
    align-items: center;
  }

  

.video-container{
  height: 381px;
}
.video-container{
  margin-top: 0;
  
}

}

.main-text{
  align-items: center;
}



@media(max-width:550px){

  .redbananaz {
    font-family: 'Kodchasan';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
/* or 80% */

display: flex;
align-items: center;
letter-spacing: 0.015em;
text-transform: capitalize;

/* red */

color: #FB4949;
  }
  
 .vector-icon{
  width: 20px;
  height: 28px;
  align-items: center;
 }

 
 

  .navbar{
    width: 500px;
    
  }
 
  .navbar-list{ 
    display: none;
  }
  
  .counts{

    align-items: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:420px){
  .navbar{
    width: 400px;
    
  }
 
}

@media(max-width:390px){

  .redbananaz {
    font-family: 'Kodchasan';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
/* or 80% */

display: flex;
align-items: center;
letter-spacing: 0.015em;
text-transform: capitalize;

/* red */

color: #FB4949;
  }
  
 .vector-icon{
  width: 20px;
  height: 28px;
  align-items: center;
 }

 
 

  .navbar{
    width: 370px;
    
  }
 
  .navbar-list{ 
    display: none;
  }
  
  .counts{
    align-items: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
}





